<div style="display: flex; gap: 10px">
  <div>
    <h1>Hello i'm <b>Hilal Badru</b></h1>
    <p>I'm Junior Programmer</p>
  </div>

  <div>
    <img
      src="image/Foto.jpg"
      alt=""
      width="100px"
      style="border-radius: 100%"
    />
  </div>
</div>
